In [1]:
from llm.llm.chatgpt import ChatGPT
from llm.llm.gemini import Gemini
from setup_db import create_chroma_db, connect_to_db, execute_query, DBHUB
from branch_reasoning import *

c:\Users\Admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
llm = ChatGPT()

In [3]:
db_name = 'test_db'
user = 'postgres'
password = '12345678'
port = '5433'
host = 'localhost'

In [4]:
conn = {'db_name' : 'test_db',
'user' : 'postgres',
'password' : '12345678',
'port' : '5433',
'host' : 'localhost'}

In [5]:
# conn = connect_to_db(db_name, user, password, host, port)

In [6]:
collection_chromadb = 'category_bank_chroma'
persist_directory = 'data/category_bank_chroma'
bank_vector_store = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'category_non_bank_chroma'
persist_directory = 'data/category_non_bank_chroma'
none_bank_vector_store = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'category_sec_chroma'
persist_directory = 'data/category_sec_chroma'
sec_vector_store = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'category_ratio_chroma'
persist_directory = 'data/category_ratio_chroma'
ratio_vector_store = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'company_name_chroma'
persist_directory = 'data/company_name_chroma'
vector_db_company = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'sql_query'
persist_directory = 'data/sql_query'
vector_db_sql = create_chroma_db(collection_chromadb, persist_directory)

2024-11-07 16:47:18,785 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2024-11-07 16:47:18,985 - INFO - Collection category_bank_chroma is not created.
2024-11-07 16:47:19,535 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2024-11-07 16:47:19,543 - INFO - Collection category_non_bank_chroma is not created.
2024-11-07 16:47:20,087 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2024-11-07 16:47:20,096 - INFO - Collection category_sec_chroma is not created.
2024-11-07 16:47:20,598 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2024-11-07 16:47:20,605 - INFO - Collection category_ratio_chroma is not created.
2024-11-07 16:47:21,137 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2024-11-07 16:47:21,147 - INFO - Collection company_name_chroma is not created.
2024-11-07 16:47:21,634 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2024-11-07 16:47:21,640 - INFO - Collection sql_query is not created.

In [7]:
db = DBHUB(conn, bank_vector_store, none_bank_vector_store, sec_vector_store, ratio_vector_store, vector_db_company, vector_db_sql)

In [10]:
prompt =  "For Vietcombank and Techcombank, please provide the quarterly data for the Debt-to-Equity ratio from 2020 to 2023"

In [11]:
history, error_messages, execution_tables = llm_branch_reasoning(llm, prompt, db, verbose=True)

2024-11-07 16:54:10,654 - INFO - HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
2024-11-07 16:54:10,655 - INFO - Completion time of gpt-4o-mini: 1.9708874225616455s

CompletionUsage(completion_tokens=76, prompt_tokens=488, total_tokens=564, completion_tokens_details=CompletionTokensDetails(reasoning_tokens=0, audio_tokens=0, accepted_prediction_tokens=0, rejected_prediction_tokens=0), prompt_tokens_details={'cached_tokens': 0, 'audio_tokens': 0})
Branch reasoning response:
```json
{
    "steps": [
        "Step 1: Retrieve the stock codes for Vietcombank and Techcombank from the `company_info` table.",
        "Step 2: Access the `ratio` table to extract the quarterly Debt-to-Equity ratio data for the identified stock codes from 2020 to 2023."
    ]
}
```
====================================
Step 0: Extract company name

2024-11-07 16:54:12,020 - INFO - HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
2024-11-07 16:54:12,023 - INFO - Completion time of gpt-4o-mini: 1.3670077323913574s

CompletionUsage(completion_tokens=51, prompt_tokens=207, total_tokens=258, completion_tokens_details=CompletionTokensDetails(reasoning_tokens=0, audio_tokens=0, accepted_prediction_tokens=0, rejected_prediction_tokens=0), prompt_tokens_details={'cached_tokens': 0, 'audio_tokens': 0})
Get stock code based on company name response:
```json
{
    "industry": ["banking"],
    "company_name": ["Vietcombank", "Techcombank"],
    "financial_statement_row": [],
    "financial_ratio_row": ["Debt-to-Equity ratio"]
}
```
====================================

2024-11-07 16:54:12,476 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"
2024-11-07 16:54:13,488 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"

Connecting to database test_db, postgres...

2024-11-07 16:54:14,653 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"

Connecting to database test_db, postgres...
Step 1: Step 1: Retrieve the stock codes for Vietcombank and Techcombank from the `company_info` table.

2024-11-07 16:54:15,198 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"
2024-11-07 16:54:17,585 - INFO - HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
2024-11-07 16:54:17,587 - INFO - Completion time of gpt-4o-mini: 2.350921154022217s

CompletionUsage(completion_tokens=24, prompt_tokens=2056, total_tokens=2080, completion_tokens_details=CompletionTokensDetails(reasoning_tokens=0, audio_tokens=0, accepted_prediction_tokens=0, rejected_prediction_tokens=0), prompt_tokens_details={'cached_tokens': 1152, 'audio_tokens': 0})
Step 1 response:
```sql
SELECT stock_code
FROM company_info
WHERE stock_code IN ('VCB', 'TCB');
```
====================================
[{'language': 'sql', 'code': "SELECT stock_code \nFROM company_info \nWHERE stock_code IN ('VCB', 'TCB');\n"}]
SQL Code 1:
SELECT stock_code
FROM company_info
WHERE stock_code IN ('VCB', 'TCB')
Connecting to database test_db, postgres...

2024-11-07 16:54:18,148 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"
2024-11-07 16:54:18,487 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"

Connecting to database test_db, postgres...
Step 2: Step 2: Access the `ratio` table to extract the quarterly Debt-to-Equity ratio data for the identified stock codes from 2020 to 2023.

2024-11-07 16:54:18,992 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"
2024-11-07 16:54:20,911 - INFO - HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
2024-11-07 16:54:20,913 - INFO - Completion time of gpt-4o-mini: 1.9090263843536377s

CompletionUsage(completion_tokens=95, prompt_tokens=2502, total_tokens=2597, completion_tokens_details=CompletionTokensDetails(reasoning_tokens=0, audio_tokens=0, accepted_prediction_tokens=0, rejected_prediction_tokens=0), prompt_tokens_details={'cached_tokens': 1536, 'audio_tokens': 0})
Step 2 response:
```sql
SELECT
    stock_code,
    year,
    quarter,
    data AS debt_to_equity_ratio
FROM financial_ratio
WHERE ratio_code = 'DTER' -- Assuming 'DTER' is the code for Debt-to-Equity Ratio
  AND stock_code IN ('VCB', 'TCB')
  AND year BETWEEN 2020 AND 2023
  AND quarter != 0
ORDER BY stock_code, year, quarter;
```
====================================
[{'language': 'sql', 'code': "SELECT \n    stock_code,\n    year,\n    quarter,\n    data AS debt_to_equity_ratio\nFROM financial_ratio\nWHERE ratio_code = 'DTER' -- Assuming 'DTER' is the code for Debt-to-Equity Ratio\n  AND stock_code IN ('VCB', 'TCB')\n  AND year BETWEEN 2020 AND 2023\n  AND quarter != 0\nORDER BY stock_code, year, quarter;\n"}]
SQL Code 1:
SELECT
    stock_code,
    year,
    quarter,
    data AS debt_to_equity_ratio
FROM financial_ratio
WHERE ratio_code = 'DTER' -- Assuming 'DTER' is the code for Debt-to-Equity Ratio
  AND stock_code IN ('VCB', 'TCB')
  AND year BETWEEN 2020 AND 2023
  AND quarter != 0
ORDER BY stock_code, year, quarter
Connecting to database test_db, postgres...

2024-11-07 16:54:21,488 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"
2024-11-07 16:54:22,006 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"

Connecting to database test_db, postgres...

In [12]:
for message in history:
    print("==============")
    print(message['role'])
    print('_____________')
    print(message['content'])

==============
system
_____________
You are an expert in financial statement and database management. You will be asked to convert a natural language query into a PostgreSQL query.
==============
user
_____________
You have the following database schema:

<description>
You're given database about the financial reports of top Vietnamese companies, both bank and cooperates.

All the data in the financial report are followed by the regulation of Vietnamese Accounting Standard (VAS). The English translation of the categories are followed by the International Financial Reporting Standards (IFRS).

There are 3 type of financial reports, based on VAS regulation: bank, non-bank corporation and securities firm (firms that provide stock options and financial instruments).



Here are the descriptions of tables in the database:



### PostgreSQL tables, with their properties

```sql

-- Table: company_info

CREATE TABLE company_info(

    stock_code VARCHAR(255) primary key, --The trading symbol.

    is_bank BOOLEAN, --Bool checking whether the company is a bank or not.

    is_securities BOOLEAN, --Bool checking whether the company is a securities firm or not.

    industry VARCHAR(255), --Current industry of company.

    issue_share int --Number of share issued.

);



-- Table: sub_and_shareholder

CREATE TABLE sub_and_shareholder(

    stock_code VARCHAR(255) NOT NULL,

    invest_on VARCHAR(255) NOT NULL, -- The company invested on (can be subsidiary)

    FOREIGN KEY (stock_code) REFERENCES company_info(stock_code),

    FOREIGN KEY (invest_on) REFERENCES company_info(stock_code),

    PRIMARY KEY (stock_code, invest_on)

);



-- Table: map_category_code_bank

CREATE TABLE map_category_code_bank(

    category_code VARCHAR(255) primary key, --The category_code recorded in the financial report.

    en_caption VARCHAR(255), --The Caption for the `category_code`.

    report_type VARCHAR(255) --Report type recorded for each line (balance_sheet, cash_flow_statement or income_statement)

);



-- Table: map_category_code_non_bank. Same as `map_category_code_bank`

CREATE TABLE map_category_code_non_bank(

    category_code VARCHAR(255) primary key,

    en_caption VARCHAR(255),

    report_type VARCHAR(255)

);



-- Table: map_category_code_securities. Same as `map_category_code_bank`

CREATE TABLE map_category_code_securities(

    category_code VARCHAR(255) primary key,

    en_caption VARCHAR(255),

    report_type VARCHAR(255)

);



-- Table: bank_financial_report: Financial report of banks

CREATE TABLE bank_financial_report(

    stock_code VARCHAR(255) references company_info(stock_code),

    year int, -- The reported financial year

    quarter int, --  The quarter reported (contain value either 1, 2, 3, 4). If the value is 0, that mean the report is for annual report.

    category_code VARCHAR(255) references map_category_code_bank(category_code),

    data float -- The value of the recorded category (in Million VND)

);



-- Table non_bank_financial_report: Financial report of corporation. Same structure as `bank_financial_report`

CREATE TABLE non_bank_financial_report(

    stock_code VARCHAR(255) references company_info(stock_code),

    year int,

    quarter int,

    category_code VARCHAR(255) references map_category_code_non_bank(category_code),

    data float

);



-- Table securities_financial_report: Financial report of securities firms. Same structure as `bank_financial_report`

CREATE TABLE securities_financial_report(

    stock_code VARCHAR(255) references company_info(stock_code),

    year int,

    quarter int,

    category_code VARCHAR(255) references map_category_code_securities(category_code),

    data float

);



-- Table map_category_code_ratio

CREATE TABLE map_category_code_ratio(

    ratio_code VARCHAR(255) primary key,

    ratio_name VARCHAR(255)

);



-- Table financial_ratio: This table will have pre-calculated common Financial Ratio such as ROA, ROE, FCF, etc

-- Same structure as `bank_financial_report`

CREATE TABLE financial_ratio(

    ratio_code VARCHAR(255) references map_category_code_ratio(ratio_code),

    stock_code VARCHAR(255) references company_info(stock_code),

    year int,

    quarter int,

    data float

)



```



Note:

- For each `category_code` column, the prefix tell which report does that code refer to, BS is Balance sheet IS is for Income statement and CF is Cash flow.

- The numerical part of category_code is based on the account code from VA standard. If 2 row might have same meaning, prefer to use a rounder code



### Peek view of the schema

 - `company_info`



|stock_code|is_bank|industry|issue_share|

|----|----|----|----|

|VIC|False|Real Estate|3823700000|



- `sub_and_shareholder`



|stock_code|invest_on|

|---|---|

|MSN|TCB|



Explain:

This mean MSN is a shareholder of TCB.



- `bank_financial_report`



|stock_code|year|quarter|category_code|data|

|---|----|----|----|----|----|

|VCB|2023|  0 | BS_300 | 1839613.198 |

|LPB|2024|  2 | CF_045 | 68522.835|

|BID|2024|  1 | IS_014 | 5392.606 |



- `map_category_code_bank`



|category_code|en_caption|report_type|

|----|----|----|

|IS_003| Net Interest Income | income_statement |



### Note

- You can access the database by using

```sql

SELECT * FROM bank_financial_report;

```

- When asking for data in financial report (not financial ratio) in top 5, top 10 companies or subsidiary/invest_on, if not specified, you must union join all bank, non-bank and securities tables

- For any financial ratio, you must select it from the database instead of calculate it yourself.

- You must add `quarter` condition when select data from 4 financial data tables

- If not required or mentioned, always answer for data reported annually, which the query for `quarter` should always be 0 as default

- If you select quarter only, quarter must != 0, and if you select data by year, quarter must be 0

- You must not directly compare the data for quarterly financial report and annually financial report
</description>

Here is a natural language query that you need to convert into a query:
<query>
For Vietcombank and Techcombank, please provide the quarterly data for the Debt-to-Equity ratio from 2020 to 2023
</query>

Note:
- Your SQL query must only access the database schema provided.
- In each step, you should only do the task that is required. Do not do the task of next step.
- Make the SQL query as simple and readable as possible. Utilize existing data from previous steps to avoid unnecessary query.
- You are penalized if generating wrong or meaningless SQL query
- If the data provided is enough to answer the question, you don't have to return SQL query.

Here are the steps to break down the task:
<steps>
Step 1:
 Step 1: Retrieve the stock codes for Vietcombank and Techcombank from the `company_info` table.

Step 2:
 Step 2: Access the `ratio` table to extract the quarterly Debt-to-Equity ratio data for the identified stock codes from 2020 to 2023.


</steps>

Snapshot of the mapping table:
<data>
dict_values([None, None, None,   ratio_code                       ratio_name
0         ER                     Equity Ratio
1       DTER             Debt To Equity Ratio
2     LTDTER   Long Term Debt To Equity Ratio
3     STDTER  Short Term Debt To Equity Ratio])
</data>

Here are the detail of the companies:

| stock_code   | company_name                                         | en_company_name                                            | industry                   | is_bank   | is_securities   |
|:-------------|:-----------------------------------------------------|:-----------------------------------------------------------|:---------------------------|:----------|:----------------|
| CTG          | Ngân hàng Thương mại Cổ phần Công thương Việt Nam    | Vietnam Joint Stock Commercial Bank For Industry and Trade | Banking                    | True      | False           |
| VCB          | Ngân hàng Thương mại Cổ phần Ngoại thương Việt Nam   | Joint Stock Commercial Bank For Foreign Trade Of Vietnam   | Banking                    | True      | False           |
| TCB          | Ngân hàng Thương mại Cổ phần Kỹ thương Việt Nam      | Vietnam Technological And Commercial Joint Stock Bank      | Banking                    | True      | False           |
| VCB          | Ngân hàng Thương mại Cổ phần Ngoại thương Việt Nam   | Joint Stock Commercial Bank For Foreign Trade Of Vietnam   | Banking                    | True      | False           |
| TCB          | Ngân hàng Thương mại Cổ phần Kỹ thương Việt Nam      | Vietnam Technological And Commercial Joint Stock Bank      | Banking                    | True      | False           |
| TMB          | Công ty Cổ phần Kinh doanh Than Miền Bắc - Vinacomin | Vinacomin - Northern Coal Trading Joint Stock Company      | Basic Resources            | False     | False           |
| VCS          | Công ty Cổ phần VICOSTONE                            | VICOSTONE Joint Stock Company                              | Construction and Materials | False     | False           |
| VCB          | Ngân hàng Thương mại Cổ phần Ngoại thương Việt Nam   | Joint Stock Commercial Bank For Foreign Trade Of Vietnam   | Banking                    | True      | False           |
| TCB          | Ngân hàng Thương mại Cổ phần Kỹ thương Việt Nam      | Vietnam Technological And Commercial Joint Stock Bank      | Banking                    | True      | False           |
| TMB          | Công ty Cổ phần Kinh doanh Than Miền Bắc - Vinacomin | Vinacomin - Northern Coal Trading Joint Stock Company      | Basic Resources            | False     | False           |
| VCS          | Công ty Cổ phần VICOSTONE                            | VICOSTONE Joint Stock Company                              | Construction and Materials | False     | False           |
==============
user
_____________
<instruction>
Think step-by-step and do the Step 1: Retrieve the stock codes for Vietcombank and Techcombank from the `company_info` table.
</instruction>

Here are the samples SQL you might need

#### For Vietcombank and Techcombank, please provide the quarterly data for the Debt-to-Equity ratio from 2020 to 2023.

```sql

-- 9. For Vietcombank and Techcombank, please provide the quarterly data for the Debt-to-Equity ratio from 2020 to 2023.

SELECT
    stock_code,
    year,
    quarter,
    data AS debt_to_equity_ratio
FROM financial_ratio
WHERE ratio_code = 'DTER' -- Assuming 'DTER' is the code for Debt-to-Equity Ratio
  AND stock_code IN ('VCB', 'TCB')
  AND year BETWEEN 2018 AND 2023
  and quarter = 0
ORDER BY stock_code, year, quarter;

```
==============
assistant
_____________
```sql
SELECT stock_code
FROM company_info
WHERE stock_code IN ('VCB', 'TCB');
```

### The result of the given SQL:

SQL result for 1:
| stock_code   |
|:-------------|
| VCB          |
| TCB          |


==============
user
_____________
<instruction>
Think step-by-step and do the Step 2: Access the `ratio` table to extract the quarterly Debt-to-Equity ratio data for the identified stock codes from 2020 to 2023.
</instruction>

Here are the samples SQL you might need

#### For Vietcombank and Techcombank, please provide the quarterly data for the Debt-to-Equity ratio from 2020 to 2023.

```sql

-- 9. For Vietcombank and Techcombank, please provide the quarterly data for the Debt-to-Equity ratio from 2020 to 2023.

SELECT
    stock_code,
    year,
    quarter,
    data AS debt_to_equity_ratio
FROM financial_ratio
WHERE ratio_code = 'DTER' -- Assuming 'DTER' is the code for Debt-to-Equity Ratio
  AND stock_code IN ('VCB', 'TCB')
  AND year BETWEEN 2018 AND 2023
  and quarter = 0
ORDER BY stock_code, year, quarter;

```
==============
assistant
_____________
```sql
SELECT
    stock_code,
    year,
    quarter,
    data AS debt_to_equity_ratio
FROM financial_ratio
WHERE ratio_code = 'DTER' -- Assuming 'DTER' is the code for Debt-to-Equity Ratio
  AND stock_code IN ('VCB', 'TCB')
  AND year BETWEEN 2020 AND 2023
  AND quarter != 0
ORDER BY stock_code, year, quarter;
```

### The result of the given SQL:

SQL result for 1:
| stock_code   |   year |   quarter |   debt_to_equity_ratio |
|:-------------|-------:|----------:|-----------------------:|
| TCB          |   2020 |         1 |                5.066   |
| TCB          |   2020 |         2 |                4.87077 |
| TCB          |   2020 |         3 |                4.68575 |
| TCB          |   2020 |         4 |                4.89163 |
| TCB          |   2021 |         1 |                4.85164 |
| TCB          |   2021 |         2 |                5.01071 |
| TCB          |   2021 |         3 |                5.12817 |
| TCB          |   2021 |         4 |                5.11258 |
| TCB          |   2022 |         1 |                5.24095 |
| TCB          |   2022 |         2 |                4.97041 |
| TCB          |   2022 |         3 |                5.10881 |
| TCB          |   2022 |         4 |                5.16295 |
| TCB          |   2023 |         1 |                5.1333  |
| TCB          |   2023 |         2 |                4.98106 |
| TCB          |   2023 |         3 |                5.14552 |
| TCB          |   2023 |         4 |                5.96452 |
| VCB          |   2020 |         1 |               12.4506  |
| VCB          |   2020 |         2 |               12.2316  |
| VCB          |   2020 |         3 |               11.7017  |
| VCB          |   2020 |         4 |               12.4285  |
| VCB          |   2021 |         1 |               11.6621  |
| VCB          |   2021 |         2 |               11.4232  |
| VCB          |   2021 |         3 |               30.067   |
| VCB          |   2021 |         4 |               11.7261  |
| VCB          |   2022 |         1 |               11.4938  |
| VCB          |   2022 |         2 |               12.0287  |
| VCB          |   2022 |         3 |               11.8489  |
| VCB          |   2022 |         4 |               12.1474  |
| VCB          |   2023 |         1 |               11.7641  |
| VCB          |   2023 |         2 |               29.2163  |
| VCB          |   2023 |         3 |                9.87856 |
| VCB          |   2023 |         4 |                9.91247 |