In [1]:
from llm.llm.chatgpt import ChatGPT
from llm.llm.gemini import Gemini
from setup_db import create_chroma_db, connect_to_db, execute_query, DBHUB
from llm_test import reasoning_text2SQL, CoT_reasoning
from llm_general import  find_suitable_row_v2,  get_stock_code_and_suitable_row

c:\Users\Admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [21]:
sql_llm = Gemini()
llm = Gemini('gemini-1.5-flash-8b')

In [3]:
question = "For Vietcombank and Techcombank, please provide the quarterly data for the Debt-to-Equity ratio from 2020 to 2023"

In [4]:
db_name = 'test_db'
user = 'postgres'
password = '12345678'
port = '5433'
host = 'localhost'

In [5]:
conn = {
    'user': user,
    'password': password,
    'host': host,
    'port': port,
    'db_name': db_name
}

In [6]:
collection_chromadb = 'category_bank_chroma'
persist_directory = 'data/category_bank_chroma'
bank_vector_store = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'category_non_bank_chroma'
persist_directory = 'data/category_non_bank_chroma'
none_bank_vector_store = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'category_sec_chroma'
persist_directory = 'data/category_sec_chroma'
sec_vector_store = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'category_ratio_chroma'
persist_directory = 'data/category_ratio_chroma'
ratio_vector_store = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'company_name_chroma'
persist_directory = 'data/company_name_chroma'
vector_db_company = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'sql_query'
persist_directory = 'data/sql_query'
vector_db_sql = create_chroma_db(collection_chromadb, persist_directory)

2024-11-09 14:11:04,492 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2024-11-09 14:11:04,634 - INFO - Collection category_bank_chroma is not created.
2024-11-09 14:11:05,133 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2024-11-09 14:11:05,141 - INFO - Collection category_non_bank_chroma is not created.
2024-11-09 14:11:05,639 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2024-11-09 14:11:05,646 - INFO - Collection category_sec_chroma is not created.
2024-11-09 14:11:06,154 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2024-11-09 14:11:06,160 - INFO - Collection category_ratio_chroma is not created.
2024-11-09 14:11:06,625 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2024-11-09 14:11:06,632 - INFO - Collection company_name_chroma is not created.
2024-11-09 14:11:07,115 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2024-11-09 14:11:07,123 - INFO - Collection sql_query is not created.

In [7]:
db = DBHUB(conn, bank_vector_store, none_bank_vector_store, sec_vector_store, ratio_vector_store, vector_db_company, vector_db_sql)

In [8]:
prompt = "Compare the Return on Assets (ROA) and Return on Equity (ROE) of Vinamilk and Masan Group for the fiscal year 2023 same period."

In [9]:
from llm_general import *
import time

In [10]:
from branch_reasoning import simplify_branch_reasoning

simplify_branch_reasoning(llm, prompt, verbose=True)

2024-11-09 14:11:08,969 - INFO - Completion time of gemini-1.5-flash-8b: 1.8210599422454834s

prompt_token_count: 597
candidates_token_count: 109
total_token_count: 706

Branch reasoning response:
```json
{
  "steps": [
    "Step 1: Retrieve the stock codes for Vinamilk and Masan Group from the `company_info` table.",
    "Step 2: Extract the ROA and ROE values for Vinamilk and Masan Group from the `financial_ratio` table for the fiscal year 2023, ensuring the correct period selection (quarter 0 for the full year). Compare the extracted ROA and ROE values."
  ]
}
```

====================================

['Step 1: Retrieve the stock codes for Vinamilk and Masan Group from the `company_info` table.',
 'Step 2: Extract the ROA and ROE values for Vinamilk and Masan Group from the `financial_ratio` table for the fiscal year 2023, ensuring the correct period selection (quarter 0 for the full year). Compare the extracted ROA and ROE values.']

In [11]:
get_stock_code_and_suitable_row(llm, prompt, db, verbose=True)

2024-11-09 14:11:09,706 - INFO - Completion time of gemini-1.5-flash-8b: 0.7271766662597656s

prompt_token_count: 223
candidates_token_count: 67
total_token_count: 290

Get stock code based on company name response:
```json
{
    "industry": [],
    "company_name": ["Vinamilk", "Masan Group"],
    "financial_statement_row": [],
    "financial_ratio_row": ["Return on Assets (ROA)", "Return on Equity (ROE)"]
}
```

====================================

2024-11-09 14:11:10,908 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"
2024-11-09 14:11:11,390 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"

Connecting to database test_db, postgres...

2024-11-09 14:11:12,510 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"
2024-11-09 14:11:12,896 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"

Connecting to database test_db, postgres...

(  stock_code                    company_name  \
 0        VNM    Công ty Cổ phần Sữa Việt Nam
 1        MSN  Công ty Cổ phần Tập đoàn Masan

                               en_company_name            industry  is_bank  \
 0  Vietnam Dairy Products Joint Stock Company  Food and Beverages    False
 1                     Masan Group Corporation  Food and Beverages    False

    is_securities
 0          False
 1          False  ,
 '\n\nTable `map_category_code_non_bank`\n\nNone\n\nTable `map_category_code_bank`\n\nNone\n\nTable `map_category_code_securities`\n\nNone\n\nTable `map_category_code_ratio`\n\n| ratio_code   | ratio_name                           |\n|:-------------|:-------------------------------------|\n| ER           | Equity Ratio                         |\n| ROI          | Return On Investment                 |\n| DTER         | Debt To Equity Ratio                 |\n| ROA          | Return On Assets                     |\n| ROLTOA       | Return On Long Term Operating Assets |\n| ROE          | Return On Equity                     |\n| CROA         | Cash Return On Assets                |\n| CROFA        | Cash Return On Fixed Assets          |')

In [12]:
llm.reset_token()
llm.usage()

{'input_token': 0, 'output_token': 0}

In [23]:
start = time.time()
history, error_messages, execution_tables = reasoning_text2SQL(llm, prompt, db, 5, sql_llm=sql_llm, verbose=False, branch_reasoning=False)
end = time.time()
print("Time taken: ", end - start)

2024-11-09 14:18:17,515 - INFO - Completion time of gemini-1.5-flash-8b: 0.7344608306884766s

prompt_token_count: 190
candidates_token_count: 67
total_token_count: 257

2024-11-09 14:18:18,077 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"
2024-11-09 14:18:18,477 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"

Connecting to database test_db, postgres...
Connecting to database test_db, postgres...

2024-11-09 14:18:19,832 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"
2024-11-09 14:18:20,317 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"

Connecting to database test_db, postgres...

2024-11-09 14:18:21,314 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"
2024-11-09 14:18:23,696 - INFO - Completion time of gemini-1.5-flash-002: 2.377108335494995s

prompt_token_count: 2853
candidates_token_count: 239
total_token_count: 3092

Connecting to database test_db, postgres...
Time taken:  6.942214488983154

In [20]:
for message in history:
    print("==============")
    print(message['role'])
    print('_____________')
    print(message['content'])

==============
system
_____________

    You are an expert in financial statement and database management. You will be asked to convert a natural language query into a SQL query.

==============
user
_____________
You have the following database schema:
You're given database about the financial reports of top Vietnamese companies, both bank and cooperates.

All the data in the financial report are followed by the regulation of Vietnamese Accounting Standard (VAS). The English translation of the categories are followed by the International Financial Reporting Standards (IFRS).

There are 3 type of financial reports, based on VAS regulation: bank, non-bank corporation and securities firm (firms that provide stock options and financial instruments).



Here are the descriptions of tables in the database:



### PostgreSQL tables, with their properties

```sql

-- Table: company_info

CREATE TABLE company_info(

    stock_code VARCHAR(255) primary key, --The trading symbol.

    is_bank BOOLEAN, --Bool checking whether the company is a bank or not.

    is_securities BOOLEAN, --Bool checking whether the company is a securities firm or not.

    industry VARCHAR(255), --Current industry of company.

    issue_share int --Number of share issued.

);



-- Table: sub_and_shareholder

CREATE TABLE sub_and_shareholder(

    stock_code VARCHAR(255) NOT NULL,

    invest_on VARCHAR(255) NOT NULL, -- The company invested on (can be subsidiary)

    FOREIGN KEY (stock_code) REFERENCES company_info(stock_code),

    FOREIGN KEY (invest_on) REFERENCES company_info(stock_code),

    PRIMARY KEY (stock_code, invest_on)

);



-- Table: map_category_code_bank

CREATE TABLE map_category_code_bank(

    category_code VARCHAR(255) primary key, --The category_code recorded in the financial report.

    en_caption VARCHAR(255), --The Caption for the `category_code`.

    report_type VARCHAR(255) --Report type recorded for each line (balance_sheet, cash_flow_statement or income_statement)

);



-- Table: map_category_code_non_bank. Same as `map_category_code_bank`

CREATE TABLE map_category_code_non_bank(

    category_code VARCHAR(255) primary key,

    en_caption VARCHAR(255),

    report_type VARCHAR(255)

);



-- Table: map_category_code_securities. Same as `map_category_code_bank`

CREATE TABLE map_category_code_securities(

    category_code VARCHAR(255) primary key,

    en_caption VARCHAR(255),

    report_type VARCHAR(255)

);



-- Table: bank_financial_report: Financial report of banks

CREATE TABLE bank_financial_report(

    stock_code VARCHAR(255) references company_info(stock_code),

    year int, -- The reported financial year

    quarter int, --  The quarter reported (contain value either 1, 2, 3, 4). If the value is 0, that mean the report is for annual report.

    category_code VARCHAR(255) references map_category_code_bank(category_code),

    data float -- The value of the recorded category (in Million VND)

);



-- Table non_bank_financial_report: Financial report of corporation. Same structure as `bank_financial_report`

CREATE TABLE non_bank_financial_report(

    stock_code VARCHAR(255) references company_info(stock_code),

    year int,

    quarter int,

    category_code VARCHAR(255) references map_category_code_non_bank(category_code),

    data float

);



-- Table securities_financial_report: Financial report of securities firms. Same structure as `bank_financial_report`

CREATE TABLE securities_financial_report(

    stock_code VARCHAR(255) references company_info(stock_code),

    year int,

    quarter int,

    category_code VARCHAR(255) references map_category_code_securities(category_code),

    data float

);



-- Table map_category_code_ratio

CREATE TABLE map_category_code_ratio(

    ratio_code VARCHAR(255) primary key,

    ratio_name VARCHAR(255)

);



-- Table financial_ratio: This table will have pre-calculated common Financial Ratio such as ROA, ROE, FCF, etc

-- Same structure as `bank_financial_report`

CREATE TABLE financial_ratio(

    ratio_code VARCHAR(255) references map_category_code_ratio(ratio_code),

    stock_code VARCHAR(255) references company_info(stock_code),

    year int,

    quarter int,

    data float

)



```



Note:

- For each `category_code` column, the prefix tell which report does that code refer to, BS is Balance sheet IS is for Income statement and CF is Cash flow.

- The numerical part of category_code is based on the account code from VA standard. If 2 row might have same meaning, prefer to use a rounder code



### Peek view of the schema

 - `company_info`



|stock_code|is_bank|industry|issue_share|

|----|----|----|----|

|VIC|False|Real Estate|3823700000|



- `sub_and_shareholder`



|stock_code|invest_on|

|---|---|

|MSN|TCB|



Explain:

This mean MSN is a shareholder of TCB.



- `bank_financial_report`



|stock_code|year|quarter|category_code|data|

|---|----|----|----|----|----|

|VCB|2023|  0 | BS_300 | 1839613.198 |

|LPB|2024|  2 | CF_045 | 68522.835|

|BID|2024|  1 | IS_014 | 5392.606 |



- `map_category_code_bank`



|category_code|en_caption|report_type|

|----|----|----|

|IS_003| Net Interest Income | income_statement |



### Note

- You can access the database by using

```sql

SELECT * FROM bank_financial_report



LIMIT 100;

```

- When asking for data in financial report (not financial ratio) in top 5, top 10 companies or subsidiary/invest_on, if not specified, you must union join all bank, non-bank and securities tables

- For any financial ratio, you must select it from the database instead of calculate it yourself.

- You must add `quarter` condition when select data from 4 financial data tables

- If not required or mentioned, always answer for data reported annually, which the query for `quarter` should always be 0 as default

- If you select quarter only, quarter must != 0, and if you select data by year, quarter must be 0

- You must not directly compare the data for quarterly financial report and annually financial report

- At no matter what, you must add limit to your query.

Here is a natural language query that you need to convert into a SQL query:
Compare the Return on Assets (ROA) and Return on Equity (ROE) of Vinamilk and Masan Group for the fiscal year 2023 same period.
Break down the task into steps:

Step 1:
 Step 1: Retrieve the stock codes for Vinamilk and Masan Group from the `company_info` table.

Step 2:
 Step 2: Extract the ROA and ROE values for the retrieved stock codes from the `financial_ratio` table for the fiscal year 2023.


Company details
<data>
| stock_code   | company_name                   | en_company_name                            | industry           | is_bank   | is_securities   |
|:-------------|:-------------------------------|:-------------------------------------------|:-------------------|:----------|:----------------|
| VNM          | Công ty Cổ phần Sữa Việt Nam   | Vietnam Dairy Products Joint Stock Company | Food and Beverages | False     | False           |
| MSN          | Công ty Cổ phần Tập đoàn Masan | Masan Group Corporation                    | Food and Beverages | False     | False           |
</data>
Snapshot of the mapping table:
<data>


Table `map_category_code_non_bank`

None

Table `map_category_code_bank`

None

Table `map_category_code_securities`

None

Table `map_category_code_ratio`

| ratio_code   | ratio_name                           |
|:-------------|:-------------------------------------|
| ER           | Equity Ratio                         |
| ROI          | Return On Investment                 |
| DTAR         | Debt To Assets Ratio                 |
| DTER         | Debt To Equity Ratio                 |
| LTDTER       | Long Term Debt To Equity Ratio       |
| ROA          | Return On Assets                     |
| ROLTOA       | Return On Long Term Operating Assets |
| ROE          | Return On Equity                     |
| CROA         | Cash Return On Assets                |
| CROFA        | Cash Return On Fixed Assets          |
</data>

Here is an example of a query that you can refer to:
<example>
#### Comparing the financial statements of Vinamilk and Masan Group for Q2 2024 and Q2 2020: What are the total assets, total liabilities, and net income for each company? How do these figures reflect the financial health of each company, considering the influence of any subsidiaries or investments they hold?

```sql

-- 13. Comparing the financial statements of Vinamilk and Masan Group for Q2 2024 and Q2 2020: What are the total assets, total liabilities, and net income for each company? How do these figures reflect the financial health of each company, considering the influence of any subsidiaries or investments they hold?
WITH financial_data AS (
    SELECT
        stock_code,
        year,
        quarter,
        CASE
            WHEN category_code IN ('BS_200', 'BS_300') THEN 'total_assets'
            WHEN category_code = 'BS_400' THEN 'total_liabilities'
            WHEN category_code = 'IS_200' THEN 'net_income'
        END AS metric,
        data
    FROM
        non_bank_financial_report
    WHERE
        stock_code IN ('VNM', 'MSN')
        AND year IN (2020, 2024)
        AND quarter = 2
        AND category_code IN ('BS_200', 'BS_300', 'BS_400', 'IS_200')
)
SELECT
    stock_code,
    year,
    quarter,
    MAX(CASE WHEN metric = 'total_assets' THEN data END) AS total_assets,
    MAX(CASE WHEN metric = 'total_liabilities' THEN data END) AS total_liabilities,
    MAX(CASE WHEN metric = 'net_income' THEN data END) AS net_income
FROM
    financial_data
GROUP BY
    stock_code, year, quarter
ORDER BY
    stock_code, year, quarter;

```#### What were the current ratio and quick ratio for Vinamilk (VHM) and Masan Group (MSN) in 2023?

```sql

-- 6. What were the current ratio and quick ratio for Vinamilk (VHM) and Masan Group (MSN) in 2023?

with value as (SELECT
    stock_code,
    year,
    quarter,
    ratio_code,
    ROUND(data::numeric  * 100, 2) AS data
FROM
    financial_ratio
WHERE
    ratio_code in ('CashR', 'CurrentR')
    AND year = 2023
    AND quarter = 2
    AND stock_code = 'MSN')

 select value.stock_code as stock_code,
 		value.year as year,
 		value.quarter as quarter,
 		value.data as data,
 		mccr.ratio_name as ratio_name
from value
join map_category_code_ratio mccr
on value.ratio_code = mccr.ratio_code;

```
</example>

<instruction>
Think step-by-step and return SQL query that suitable with the database schema based on the natural language query above
</instruction>

Note:
- Do not make any assumption about the column name. You can refer to the mapping table above to find the suitable column name.

==============
assistant
_____________
```sql
-- Step 1: Retrieve the stock codes for Vinamilk and Masan Group from the company_info table.
WITH stock_codes AS (
    SELECT stock_code
    FROM company_info
    WHERE stock_code IN ('VNM', 'MSN')
)

-- Step 2: Extract the ROA and ROE values for the retrieved stock codes from the financial_ratio table for the fiscal year 2023.
SELECT
    f.stock_code,
    f.year,
    f.quarter,
    MAX(CASE WHEN f.ratio_code = 'ROA' THEN f.data END) AS ROA,
    MAX(CASE WHEN f.ratio_code = 'ROE' THEN f.data END) AS ROE
FROM
    financial_ratio f
JOIN
    stock_codes s ON f.stock_code = s.stock_code
WHERE
    f.year = 2023
    AND f.quarter = 0
GROUP BY
    f.stock_code, f.year, f.quarter
ORDER BY
    f.stock_code;
```

### The result of the given SQL:

SQL result for 1:
| stock_code   |   year |   quarter |       roa |       roe |
|:-------------|-------:|----------:|----------:|----------:|
| MSN          |   2023 |         0 | 0.0126875 | 0.0489033 |
| VNM          |   2023 |         0 | 0.171232  | 0.257506  |

In [15]:
last_message = history[-1]['content']
print(last_message)

To construct the SQL query based on the provided natural language query, we will follow the outlined steps.

### Step 1: Retrieve the stock codes for Vinamilk and Masan Group from the `company_info` table.

We know from the provided data that:
- Vinamilk has the stock code `VNM`
- Masan Group has the stock code `MSN`

### Step 2: Extract the ROA and ROE values for Vinamilk and Masan Group from the `financial_ratio` table, filtering for the fiscal year 2023 and the corresponding stock codes identified in Step 1.

We will assume that the ratio codes for ROA and ROE are defined in the `map_category_code_ratio` table, but since we do not have the exact ratio codes from the provided data, we will use placeholders `ROA_code` and `ROE_code` to represent them.

Here’s the SQL query that accomplishes this:

```sql
-- SQL Query to compare ROA and ROE for Vinamilk and Masan Group for the fiscal year 2023
WITH financial_data AS (
    SELECT
        stock_code,
        ratio_code,
        data
    FROM
        financial_ratio
    WHERE
        stock_code IN ('VNM', 'MSN')
        AND year = 2023
        AND quarter = 0
        AND ratio_code IN ('ROA_code', 'ROE_code')  -- Replace with actual ratio codes
)
SELECT
    stock_code,
    MAX(CASE WHEN ratio_code = 'ROA_code' THEN data END) AS ROA,
    MAX(CASE WHEN ratio_code = 'ROE_code' THEN data END) AS ROE
FROM
    financial_data
GROUP BY
    stock_code
ORDER BY
    stock_code
LIMIT 10;  -- Limit to top 10 results, though we expect only 2 results here
```

### Explanation of the Query:
- We create a Common Table Expression (CTE) called `financial_data` to filter the `financial_ratio` table for the relevant stock codes (`VNM` and `MSN`), the fiscal year 2023, and the quarter set to 0 (annual report).
- We then select the stock code and use conditional aggregation to get the ROA and ROE values for each company.
- Finally, we group the results by stock code and order them, applying a limit to the results.

Make sure to replace `ROA_code` and `ROE_code` with the actual ratio codes for Return on Assets and Return on Equity from the `map_category_code_ratio` table when executing the query.

### The result of the given SQL:

SQL result for 1:
| stock_code   | roa   | roe   |
|--------------|-------|-------|

In [16]:
for message in history:
    print("==============")
    print(message['role'])
    print('_____________')
    print(message['content'])

==============
system
_____________

    You are an expert in financial statement and database management. You will be asked to convert a natural language query into a SQL query.

==============
user
_____________
You have the following database schema:
You're given database about the financial reports of top Vietnamese companies, both bank and cooperates.

All the data in the financial report are followed by the regulation of Vietnamese Accounting Standard (VAS). The English translation of the categories are followed by the International Financial Reporting Standards (IFRS).

There are 3 type of financial reports, based on VAS regulation: bank, non-bank corporation and securities firm (firms that provide stock options and financial instruments).



Here are the descriptions of tables in the database:



### PostgreSQL tables, with their properties

```sql

-- Table: company_info

CREATE TABLE company_info(

    stock_code VARCHAR(255) primary key, --The trading symbol.

    is_bank BOOLEAN, --Bool checking whether the company is a bank or not.

    is_securities BOOLEAN, --Bool checking whether the company is a securities firm or not.

    industry VARCHAR(255), --Current industry of company.

    issue_share int --Number of share issued.

);



-- Table: sub_and_shareholder

CREATE TABLE sub_and_shareholder(

    stock_code VARCHAR(255) NOT NULL,

    invest_on VARCHAR(255) NOT NULL, -- The company invested on (can be subsidiary)

    FOREIGN KEY (stock_code) REFERENCES company_info(stock_code),

    FOREIGN KEY (invest_on) REFERENCES company_info(stock_code),

    PRIMARY KEY (stock_code, invest_on)

);



-- Table: map_category_code_bank

CREATE TABLE map_category_code_bank(

    category_code VARCHAR(255) primary key, --The category_code recorded in the financial report.

    en_caption VARCHAR(255), --The Caption for the `category_code`.

    report_type VARCHAR(255) --Report type recorded for each line (balance_sheet, cash_flow_statement or income_statement)

);



-- Table: map_category_code_non_bank. Same as `map_category_code_bank`

CREATE TABLE map_category_code_non_bank(

    category_code VARCHAR(255) primary key,

    en_caption VARCHAR(255),

    report_type VARCHAR(255)

);



-- Table: map_category_code_securities. Same as `map_category_code_bank`

CREATE TABLE map_category_code_securities(

    category_code VARCHAR(255) primary key,

    en_caption VARCHAR(255),

    report_type VARCHAR(255)

);



-- Table: bank_financial_report: Financial report of banks

CREATE TABLE bank_financial_report(

    stock_code VARCHAR(255) references company_info(stock_code),

    year int, -- The reported financial year

    quarter int, --  The quarter reported (contain value either 1, 2, 3, 4). If the value is 0, that mean the report is for annual report.

    category_code VARCHAR(255) references map_category_code_bank(category_code),

    data float -- The value of the recorded category (in Million VND)

);



-- Table non_bank_financial_report: Financial report of corporation. Same structure as `bank_financial_report`

CREATE TABLE non_bank_financial_report(

    stock_code VARCHAR(255) references company_info(stock_code),

    year int,

    quarter int,

    category_code VARCHAR(255) references map_category_code_non_bank(category_code),

    data float

);



-- Table securities_financial_report: Financial report of securities firms. Same structure as `bank_financial_report`

CREATE TABLE securities_financial_report(

    stock_code VARCHAR(255) references company_info(stock_code),

    year int,

    quarter int,

    category_code VARCHAR(255) references map_category_code_securities(category_code),

    data float

);



-- Table map_category_code_ratio

CREATE TABLE map_category_code_ratio(

    ratio_code VARCHAR(255) primary key,

    ratio_name VARCHAR(255)

);



-- Table financial_ratio: This table will have pre-calculated common Financial Ratio such as ROA, ROE, FCF, etc

-- Same structure as `bank_financial_report`

CREATE TABLE financial_ratio(

    ratio_code VARCHAR(255) references map_category_code_ratio(ratio_code),

    stock_code VARCHAR(255) references company_info(stock_code),

    year int,

    quarter int,

    data float

)



```



Note:

- For each `category_code` column, the prefix tell which report does that code refer to, BS is Balance sheet IS is for Income statement and CF is Cash flow.

- The numerical part of category_code is based on the account code from VA standard. If 2 row might have same meaning, prefer to use a rounder code



### Peek view of the schema

 - `company_info`



|stock_code|is_bank|industry|issue_share|

|----|----|----|----|

|VIC|False|Real Estate|3823700000|



- `sub_and_shareholder`



|stock_code|invest_on|

|---|---|

|MSN|TCB|



Explain:

This mean MSN is a shareholder of TCB.



- `bank_financial_report`



|stock_code|year|quarter|category_code|data|

|---|----|----|----|----|----|

|VCB|2023|  0 | BS_300 | 1839613.198 |

|LPB|2024|  2 | CF_045 | 68522.835|

|BID|2024|  1 | IS_014 | 5392.606 |



- `map_category_code_bank`



|category_code|en_caption|report_type|

|----|----|----|

|IS_003| Net Interest Income | income_statement |



### Note

- You can access the database by using

```sql

SELECT * FROM bank_financial_report



LIMIT 100;

```

- When asking for data in financial report (not financial ratio) in top 5, top 10 companies or subsidiary/invest_on, if not specified, you must union join all bank, non-bank and securities tables

- For any financial ratio, you must select it from the database instead of calculate it yourself.

- You must add `quarter` condition when select data from 4 financial data tables

- If not required or mentioned, always answer for data reported annually, which the query for `quarter` should always be 0 as default

- If you select quarter only, quarter must != 0, and if you select data by year, quarter must be 0

- You must not directly compare the data for quarterly financial report and annually financial report

- At no matter what, you must add limit to your query.

Here is a natural language query that you need to convert into a SQL query:
Compare the Return on Assets (ROA) and Return on Equity (ROE) of Vinamilk and Masan Group for the fiscal year 2023 same period.
Break down the task into steps:

Step 1:
 Step 1: Retrieve the stock codes for Vinamilk and Masan Group from the `company_info` table.

Step 2:
 Step 2: Extract the ROA and ROE values for Vinamilk and Masan Group from the `financial_ratio` table, filtering for the fiscal year 2023 and the corresponding stock codes identified in Step 1.


Company details
<data>
| stock_code   | company_name                   | en_company_name                            | industry           | is_bank   | is_securities   |
|:-------------|:-------------------------------|:-------------------------------------------|:-------------------|:----------|:----------------|
| VNM          | Công ty Cổ phần Sữa Việt Nam   | Vietnam Dairy Products Joint Stock Company | Food and Beverages | False     | False           |
| MSN          | Công ty Cổ phần Tập đoàn Masan | Masan Group Corporation                    | Food and Beverages | False     | False           |
</data>
Snapshot of the mapping table:
<data>


Table `map_category_code_non_bank`

None

Table `map_category_code_bank`

None

Table `map_category_code_securities`

None

Table `map_category_code_ratio`

None
</data>

Here is an example of a query that you can refer to:
<example>
#### Comparing the financial statements of Vinamilk and Masan Group for Q2 2024 and Q2 2020: What are the total assets, total liabilities, and net income for each company? How do these figures reflect the financial health of each company, considering the influence of any subsidiaries or investments they hold?

```sql

-- 13. Comparing the financial statements of Vinamilk and Masan Group for Q2 2024 and Q2 2020: What are the total assets, total liabilities, and net income for each company? How do these figures reflect the financial health of each company, considering the influence of any subsidiaries or investments they hold?
WITH financial_data AS (
    SELECT
        stock_code,
        year,
        quarter,
        CASE
            WHEN category_code IN ('BS_200', 'BS_300') THEN 'total_assets'
            WHEN category_code = 'BS_400' THEN 'total_liabilities'
            WHEN category_code = 'IS_200' THEN 'net_income'
        END AS metric,
        data
    FROM
        non_bank_financial_report
    WHERE
        stock_code IN ('VNM', 'MSN')
        AND year IN (2020, 2024)
        AND quarter = 2
        AND category_code IN ('BS_200', 'BS_300', 'BS_400', 'IS_200')
)
SELECT
    stock_code,
    year,
    quarter,
    MAX(CASE WHEN metric = 'total_assets' THEN data END) AS total_assets,
    MAX(CASE WHEN metric = 'total_liabilities' THEN data END) AS total_liabilities,
    MAX(CASE WHEN metric = 'net_income' THEN data END) AS net_income
FROM
    financial_data
GROUP BY
    stock_code, year, quarter
ORDER BY
    stock_code, year, quarter;

```#### What were the current ratio and quick ratio for Vinamilk (VHM) and Masan Group (MSN) in 2023?

```sql

-- 6. What were the current ratio and quick ratio for Vinamilk (VHM) and Masan Group (MSN) in 2023?

with value as (SELECT
    stock_code,
    year,
    quarter,
    ratio_code,
    ROUND(data::numeric  * 100, 2) AS data
FROM
    financial_ratio
WHERE
    ratio_code in ('CashR', 'CurrentR')
    AND year = 2023
    AND quarter = 2
    AND stock_code = 'MSN')

 select value.stock_code as stock_code,
 		value.year as year,
 		value.quarter as quarter,
 		value.data as data,
 		mccr.ratio_name as ratio_name
from value
join map_category_code_ratio mccr
on value.ratio_code = mccr.ratio_code;

```
</example>

<instruction>
Think step-by-step and return SQL query that suitable with the database schema based on the natural language query above
</instruction>

Note:
- Do not make any assumption about the column name. You can refer to the mapping table above to find the suitable column name.

==============
assistant
_____________
To construct the SQL query based on the provided natural language query, we will follow the outlined steps.

### Step 1: Retrieve the stock codes for Vinamilk and Masan Group from the `company_info` table.

We know from the provided data that:
- Vinamilk has the stock code `VNM`
- Masan Group has the stock code `MSN`

### Step 2: Extract the ROA and ROE values for Vinamilk and Masan Group from the `financial_ratio` table, filtering for the fiscal year 2023 and the corresponding stock codes identified in Step 1.

We will assume that the ratio codes for ROA and ROE are defined in the `map_category_code_ratio` table, but since we do not have the exact ratio codes from the provided data, we will use placeholders `ROA_code` and `ROE_code` to represent them.

Here’s the SQL query that accomplishes this:

```sql
-- SQL Query to compare ROA and ROE for Vinamilk and Masan Group for the fiscal year 2023
WITH financial_data AS (
    SELECT
        stock_code,
        ratio_code,
        data
    FROM
        financial_ratio
    WHERE
        stock_code IN ('VNM', 'MSN')
        AND year = 2023
        AND quarter = 0
        AND ratio_code IN ('ROA_code', 'ROE_code')  -- Replace with actual ratio codes
)
SELECT
    stock_code,
    MAX(CASE WHEN ratio_code = 'ROA_code' THEN data END) AS ROA,
    MAX(CASE WHEN ratio_code = 'ROE_code' THEN data END) AS ROE
FROM
    financial_data
GROUP BY
    stock_code
ORDER BY
    stock_code
LIMIT 10;  -- Limit to top 10 results, though we expect only 2 results here
```

### Explanation of the Query:
- We create a Common Table Expression (CTE) called `financial_data` to filter the `financial_ratio` table for the relevant stock codes (`VNM` and `MSN`), the fiscal year 2023, and the quarter set to 0 (annual report).
- We then select the stock code and use conditional aggregation to get the ROA and ROE values for each company.
- Finally, we group the results by stock code and order them, applying a limit to the results.

Make sure to replace `ROA_code` and `ROE_code` with the actual ratio codes for Return on Assets and Return on Equity from the `map_category_code_ratio` table when executing the query.

### The result of the given SQL:

SQL result for 1:
| stock_code   | roa   | roe   |
|--------------|-------|-------|

In [17]:
llm.usage()

{'input_token': 916, 'output_token': 165}

In [18]:
execution_tables[-1]

Empty DataFrame
Columns: [stock_code, roa, roe]
Index: []